:root {
  --y: #ffd000;
  --lr: #ff0000;
  --dr: #441d1d;
  --gb: #e5eafa;
  --r: #830000;
  --w: #f7f7ff;
  --dg: #9c9c9c;
  --blk: hsl(0, 0%, 10%);
}

body {
  font-family: "Arvo", serif;
  margin: 0;
  padding: 0;
  min-width: 320px;
  text-align: center;
}

.logobg {
  background-image: url(img/woodpanel.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 66vh;
  padding: 2rem;
}

.logobg img {
  max-width: 95vw;
}

.redbg {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 100%, 50%);
  font-size: 3rem;
}

.owner {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
}

.foooter {
  background-color: var(--blk);
  color: var(--w);
  margin: 0;
  padding: 1rem;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.foooter div {
  flex: auto;
  margin: 0.5rem;
}

#social {
  display: table-cell;
  vertical-align: middle;
}

#social ul {
  text-align: center;
  padding-left: 0;
}

#social li {
  display: inline-block;
  list-style-type: none;
  margin: 0 15px;
}

#social ul li {
  transition: ease 0.3s;
}

#social ul:hover > li {
  opacity: 0.5;
}

#social ul:hover > li:hover {
  opacity: 1;
  transform: scale(1.5);
}

.socialicon {
  width: 2rem;
  height: 2rem;
}

@media only screen and (min-width: 640px) {
  .logobg {
    background: url(img/zac-gudakov-NNHHpdE3uuQ-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: left;
    height: 72vh;
    padding: 0rem;
    margin: 0;
  }

  .logobg img {
    margin: 0rem;
  }

  .foooter {
    flex-direction: row;
  }
}
